{% extends "base.html" %}
{% block content %}
    <div class="flex items-center justify-center">
        <div class="w-full max-w-lg">
            <form method="POST" action="" enctype="multipart/form-data" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {{ form.hidden_tag() }}
                <fieldset class="mb-4">
                    <legend class="text-2xl font-bold mb-4">{{ legend }}</legend>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                            {{ form.title.label }}
                        </label>
                        {{ form.title(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                            {{ form.description.label }}
                        </label>
                        {{ form.description(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows="5") }}
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
                            {{ form.price.label }}
                        </label>
                        {{ form.price(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="picture">
                            {{ form.picture.label }}
                        </label>
                        {{ form.picture(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-red-500 text-xs italic">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="flex items-center justify-between">
                    {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
